* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    background: #2a2e30;
    overflow: hidden;
}

ul {
    list-style: none;
    padding-left: 0%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

ul li {
    display:inline-block;
    width: 150px;
    height: 50px;
    background-color: #2a2e30;
    line-height: 50px;
    text-align: center;

}

ul li a:hover {
    color: bisque;
}

ul li a {
    text-decoration: none;
    color: aliceblue;
    text-transform:uppercase;
}

ul li a::before {
    content: "[";
    margin-right: 3px;
    margin-left: 3px;
    opacity: 0;
    transition: all 0.5s;
}
ul li a::after {
    content: "]";
    margin-right: 3px;
    margin-left: 3px;
    opacity: 0;
    transition: all 0.5s;
}

ul li a:hover::before {
    opacity: 1;
    margin-right: 10px;
    transition: all 0.5s;
}
ul li a:hover::after {
    opacity: 1;
    margin-right: 10px;
    transition: all 0.5s;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.container .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.container .header:before{
    content: "ADIDAS";
    position: absolute;
    top: 58%;
    left: 57%;
    color: rgba(180,164,164,0.603);
    font-size: 150px;
    font-weight: bold;
    letter-spacing: 5px;
    opacity: 0.1;
    z-index: -1;
}

.container .header i{
    color: #fff;
    cursor: pointer;
}
 
.container .header p{
    color: #fff;
    font-weight: bold;
    font-size: 25px;
}

.container .header .logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.container .header .logo .logo-two{
    height: 3px;
}
.container .header .line{
    display: block;
    width: 45px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 4px;
    margin-right: 4px;
}

/* ROW-SECTION */

.container .row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container .col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.container .row .col-2 h1{
    color: #fff;
    font-size: 60px;
    line-height: 60px;
    font-weight: bolder;
    letter-spacing: 3px;
    margin: 25px 0;
}

.container .row .col-2 p{
    color: #fff;
    font-size: 14px;
    line-height: 30px;
}

.container .row .col-2 .btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 8px 20px;
    background-color: #E0484B;
    border-radius: 35px;
    margin-top: 45px;
    font-weight: bold;
    font-size: 15px;
    transition: 1s all ease;
}

.container .row .col-2 .btn:hover{
    background-color: #7a191b;
}

/* RING-SECTION */

.col-2 .ring img{
    width: 100%;
    max-width: 580px;
}

#circle-ring{
    padding-left: 130px;
    padding-top: 60px;
}

.col-2 .ring{
    position: relative;
    width: 400px;
    height: 400px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0, 0.5);
    z-index: -1;
}

.col-2 .ring:before{
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid #0fa;
    border-right: 3px solid #0fa;
    border-radius: 50%;
    z-index: -1;
    animation: returnCircle 10s linear infinite;
}

.col-2 .ring .circle{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    z-index: -1;
    animation: return 10s linear infinite;
}

.col-2 .ring .circle:before{
    content: "";
    position: absolute;
    top: -6px;
    right: -9px;
    width: 16px;
    height: 16px;
    background: #0fa;
    border-radius: 50%;
    box-shadow: 0 0 20px #0fa;
    z-index: -1;
}

.col-2 .ring-two{
    position: absolute;
    top: 13%;
    left: 56%;
    width: 500px;
    height: 500px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
}

.col-2 .ring-two:before{
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-bottom: 3px solid #0fa;
    border-left: 3px solid #0fa;
    border-radius: 50%;
    animation: returnCircle2 10s linear infinite;
}

.col-2 .ring-two .circle-two{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    animation: return2 10s linear infinite;
}

.col-2 .ring-two .circle-two:before{
    content: "";
    position: absolute;
    top: -6px;
    right: -8px;
    width: 16px;
    height: 16px;
    background: #0fa;
    box-shadow: 0 0 20px #0fa;
    border-radius: 50%;
}



@keyframes returnCircle {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}


@keyframes return {
    0%{
        transform: rotate(45deg);
    }
    100%{
        transform: rotate(405deg);
    }
    
}


@keyframes returnCircle2 {
    0%{
        transform: rotate(-45deg);
    }
    100%{
        transform: rotate(-405deg);
    }
    
}


@keyframes return2 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
    
}
/* LİNKLER */
.duzen {
    width: 50%;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.kutu {
    width: 75px;
    height: 75px;
    background: #2a2e30;
    margin: 0px 14px;
    transition: 0.5;

}
.kutu:hover {
    transform: scale(1.2);
    background: rgb(228, 199, 199);
    z-index: 2;

}

#as {
    text-align: center;
}

/* Yazılar */
p.text::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgb(156, 193, 8);
    transition: width 0.25s ease-in-out ;
}
p.text {
    display: inline-block;
    padding-bottom: 0.25rem;
    position: relative;
}

p.text:hover::before {
    width: 100%;

}

.neonText {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
  }
  

    
  body {
    font-size: 18px;
    font-family: "Vibur", sans-serif;
  }  
  
  h1, h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
  }
    
  h1 {
      font-size: 4.2rem;
  }
   